.meal {
    width: 57.6rem;
    margin-top: 3.7rem;
    position: relative;
    &-back1{
        top: 1.8rem;
        left: 1.8rem;
        position: absolute;
    }
    &-back2{
        top: 27.2rem;
        left: 1.8rem;
        position: absolute;
    }
    &-salad {
        position: absolute;
        top: -14.7rem;
        left: 11.8rem;
        z-index: 3;
    }
    &-dish{
        position: absolute;
        left: -1rem;
        z-index: 4;
    }
    

}