@media (max-width: 1700px) {
    .meal {
        &-salad {
            display: none;
        }
        &-dish {
            width: 100%;
            top: 50%;
            transform: translatey(-50%);
        }
    }
}

@media (max-width: 1300px) {
    .meal {
        &-back1{
            display: none;
        }
        &-back2 {
            display: none;
        }
        &-dish {
            left: 25rem;
            width: 60%;
        }

    }
    .panel {
        display: none;
    }
    .food {
        text-align: center;
    }
    .discover {
        flex-direction: column;
    }
    
}

@media (max-width: 900px) {
    .meal {
        display: none;
    }
}