.border{
    &__orangemore{
        font-size: 34px;
        font-weight: 700;
        border-bottom: 5px solid $or;
    }
    &__greenmore{
        font-size: 34px;
        font-weight: 700;
        border-bottom: 5px solid $gr;
    }
    &__orangeless{
        color: #000000;
        font-weight: 500;
        border-bottom: 3px solid $or;
    }
    &__greenless{
        color: #000000;
        font-weight: 500;
        border-bottom: 3px solid $gr;
    }
}