@media (max-width: 1260px){
    .form{
        &__price{
            &-blackitem{
                &:before{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .container{
        padding: 0 12px;
    }
    .first{
        &__pictures{
            width:320px;
            &-legs{
                width: 550px;
            }
            &-room{
                //width: 500px;
                display: none;
            }
        }
        &__pills{
            top: 400px;
            left: 8px;
            &-img{
                width: 400px;
            }
            &-price{
                font-size: 24px;
            }
            &-prorange{
            left: 200px;
            width: 80px;
            height: 30px;
            }
            &-prgreen{
                top: 70px;
                left: 270px;
                width: 80px;
                height: 30px;
            }
        }
        
    }
}

@media (max-width: 1075px) {
    .container{
        max-width: 800px;
    }
    .first{
        &__pictures{
            display: none;
        }
        &__header{
            flex-direction: column;
            
        }
        &__pills{
            top: 530px;
            left: 40%;
            transform: translateX(-40%);
        }
    }
    .logo{
        margin: 0 auto 20px auto;
    }
    .second{
        margin-top: 200px;
        &__wrapper{
            
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__symptom{
            margin-right: 0;
            &-main{
                flex-direction: column;
                text-align: center;
            }
            &-txt{
                margin-left: 0;
            }
            &-descr{
                text-align: center;
            }
        }
        &__statistic{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}



@media (max-width: 685px) {
    .first{
        &__main{
            flex-direction: column;
            align-items: center;
        }
        &__header{
            &-list{
                display: none;
            }
        }
        &__pills{
            top: -40px;
        }
        &__introduction{
            margin-top: 180px;
            margin-bottom: 20px;
        }
    }
    .form{
        box-shadow: 0 0 40px rgba(29, 91, 152, 0);
    }
    .second{
        margin-top: 40px;
    }
    .second{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
    }
}


@media (max-width: 410px) {
    .first{
        &__pills{
            
            &-img{
                width: 250px;
                
            }
            &-price{
                font-size: 19px;
            }
            &-prorange{
            left: 120px;
            width: 60px;
            height: 25px;
            }
            &-prgreen{
                top: 40px;
                left: 170px;
                width: 60px;
                height: 25px;
            }
        }
        &__introduction{
            margin-top: 120px;
            &-title{
                font-size: 32px;
            }
            &-text{
                width: 240px;
                font-size: 17px;
            }
        }
    }
    .second{
        &__symptom{
            &-descr{
                font-size: 15px;
                text-align: start;
            }
        }
        
    }
}