.second{
    margin-top: 150px;
    &__logo{
        text-align: center;
    }
    &__title{
        margin: 18px 0 36px 0;
        color: #383334;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }
    &__text{
        color: #2b2828;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    &__wrapper{
        display: flex;
    }
    &__symptom{
        margin-right: 60px;
        width: 33%;
        &-main{
            display: flex;
            margin-bottom: 54px;
        }
        &-pic{
            display: flex;
            justify-content: center;
        }
        
        &-txt{
            margin: auto;
            margin-left: 19px;
            color: #000000;
            font-size: 18px;
            font-weight: 500;
        }
        &-descr{
            position: relative;
            color: #444444;
            font-size: 18px;
            &:before{
                content: '';
                position: absolute;
                width: 50px;
                height: 3px;
                background-color: #becbd8;
                top: -20px;
            }
        }
    }
    &__statistic{
        position: relative;
        margin: 74px 0 27px 0;
        border: 3px solid #f4d3bb;
        background-color: #ffffff;
        text-align: center;
        border-radius: 5px;
        padding: 44px 0;
        &-fact{
            font-size: 22px;
        }
        &-span{
            color: #000000;
            font-weight: 500;
        }
        &:before{
            content: '';
            z-index: 2;
            position: absolute;
            width: 170px;
            height: 17px;
            background-color: #ffffff;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
        }
        &:after{
            content: url(../../img/second/statistic-stat.png);
            position: absolute;
            z-index: 3;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
}