.header {
    background: linear-gradient(32.69deg, $dark-color 21.82%, #255BAC 100%);
    padding: 22.5px 0;
    border-radius:  16em/0.5em 2em 2em ;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        &-line {
            border-right: 1px solid #DDDEE0;
            height: 100%;
        }

        a {
            font-size: 16px;
            line-height: 19px;
            color: $main-color;
            text-decoration: none;
        }

        &-started {
            font-weight: bold;
            line-height: 29px;
            text-align: center;
            width: 124px;
            border: 1px solid $main-color;
            border-radius: 5px;
            padding: 16px 5.5px;
        }
    }
    

}

.search {
    position: relative;
    &__input {
        border: 1px solid $main-color;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.06);
        border-radius: 50px;
        max-width: 391px;
        width: 100%;
        height: 40px;
        padding: 10.5px 16px 10.5px 48px;
        font-size: 16px;
        line-height: 19px;
        color: $main-color;
        background: none;
    }
    &__input::-webkit-input-placeholder { color: #FFFFFF; }
    &__btn {
        position: absolute;
        left: 16px;
        top: calc(50% - 16px/2);
        background: none;
        border: none;
    }
    
}


